---
tags:
  - projects
  - verification
aliases:
  - Formal Verification
---
The process of proving a software conforms to some formal standard.
*It is correct because I proved that certain errors do not exist in the system*
# Concepts
### Static Verification
- [[Software Proof]]
- [[Software Inspections]]
- [[Theorem Prover]]
- [[Model Checking]]
- [[Abstract Interpretation]]
### Dynamic Verification
- [[Testing]]
- [[Fuzzing]]
- [[Taint Analysis]]
# Books/Papers
- https://www.cs.toronto.edu/~hehner/FMSD/
- https://www.cs.toronto.edu/~hehner/SPTC.pdf