---
tags:
  - projects
  - verification
aliases:
  - Formal Verification
---
The process of proving a software conforms to some formal standard.
*It is correct because I proved that certain errors do not exist in the system*
# Concepts
- [[Specification Implementation Gap]]
- [[World Specification Gap]]
- [[Proof Brittleness]]
### Static Verification
- [[Software Proof]]
- [[Software Inspections]]
- [[Theorem Prover]]
- [[Model Checking]]
- [[Abstract Interpretation]]
- [[Verification-Aware Programming]]
### Dynamic Verification
- [[Testing]]
- [[Fuzzing]]
- [[Taint Analysis]]
- [[Secure Program Synthesis|SPS]]
# Tools
- [[SmtChecker]]
- [[Certora]]
# Books/Papers
- https://www.cs.toronto.edu/~hehner/FMSD/
- https://www.cs.toronto.edu/~hehner/SPTC.pdf