---
tags:
  - security
aliases:
  - Formal Verification In-the-loop
---
Using AI to verify against human specifications for proving parts of the infrastructure that are not easily provable (like [[Firewall]]).
# Paper
https://atlascomputing.org/ai-assisted-fv-toolchain.pdf