---
tags:
  - redteam
  - oratory
---
# Risk
# Proof Of Concept (PoC)
# Impact
# Exposures
# Remediation